
@{
    ViewBag.Title = "Create";
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    <div>
        <form id="frmNewBook" action="@Url.Action("InsertRecord")" method="post">
            <h2>Add Movie</h2>
            <br />
            <label>Movie Name : </label>
            <input type="text" name="txtMovie" />
            <br /><br />
            <label>Duration : </label>
            <input type="text" name="txtDuration" />
            <br /><br />
            <input type="submit" value="Submit" name="action" />
            <input type="submit" value="Cancel" name="action" />
        </form>
    </div>
</body>
</html>